body{
    background-color: rgb(63, 6, 6);
    margin: 0;
}
.grid-main{
    display: grid;
}
.img1{
    display: block;
    height: 400px;
    width: 100%;
}
.item1{
    background-color: rgb(241, 230, 209);
    height: 140px;
    text-align: center;
}
.logo{
    height: 140px;
    width: 200px;
}
.item2{
    height: 40px;
    text-align: center;
    margin-top: 20px;
    color: red;
}
.nav{
    text-decoration: none;
    color: white;
}
.item4{
    background-color: rgb(241, 230, 209);
    height: 250px;
    text-align: center;
}
.img2{
    height: 150px;
    width: 150px;
    margin: 40px 10px 0 10px;
}
.box1{
    height: 50px;
    width: 150px;
    background-color: red;
}
.item5{
    color: white;
    text-align: left;
    margin: 0 20% 0 20%;
}
.item6{
    color: white;
    text-align: left;
    margin: 0 20% 0 20%;
}
.img3{
    height: 100px;
    width: 150px;
    margin: 0 20px 10px 0;
}
.item7{
    height: 150px;
    background-color: red;
    text-align: center;
}
.nav1{
    margin-left: 20px;
}